:root {
  --meemoo-green-primary: #00C8AA;
  --meemoo-green-secondary: #00857D;
  --meemoo-green-tertiary: #00857D;
}
body {
  font-family: URWGothic,SofiaPro,Helvetica,Arial,sans-serif;
}
h1 {
  color: var(--meemoo-green-secondary);
}
a {
  outline: 2px solid transparent;
  text-decoration: none;
  outline-offset: 5px;
  transition: all .2s ease-in-out,outline-offset .2s linear;
}
a {
  background-image: linear-gradient(120deg,rgba(0,200,170,.4),rgba(0,200,170,.2));
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 55%;
  color: inherit;
}
table {
  display: table;
  border-collapse: collapse;
  border-spacing: 2px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.12),0 3px 10px rgba(0,0,0,0.08);
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  font-weight: bold;
}
th, td {
  min-width: 80px;
  padding-top: .5rem;
  padding-right: .75rem;
  padding-bottom: .5rem;
  padding-left: .75rem;
  border: 1px solid #ddd;
}
th {
  background-color: rgba(40,160,200,0.15); /* meemoo blue, alpha 0.15 */
  border-bottom-width: 2px;
}
.valid-true {
  background-color: #dff0d8;  /* meemoo green ? */
}
.valid-false {
  background-color: #f2dede;  /* meemoo red ? */
}
code, pre {
  padding: 0.2em 0.15em;
  font-weight: 400;
  background-color: #f5f6fa;
  border: 1px solid #eeebee;
  border-radius: 4px;
}
footer {
  display: none;
}
